<div data-role="page" id="page-failed">
  <div id="fea" class="features_m">
    <div class="head text-center">
      <br/>
      <br/>
      <br/>
      <img align="absmiddle" src="<%= asset_path 'failed.png' %>" width="58px" height="58px" />
    </div>
    <br/>
    <br/>
    <div class="features-grids text-center" style="color:#ffffff; margin:auto; font-size:20px;">
      <div style="text-shadow:none;">
        <% if @qrcode_record %>
          二维码已失效
        <% else %>
          伪造的二维码
        <% end %>
      </div>
      <div style="text-shadow:none;">防伪验证失败</div>
      <div style="text-shadow:none;">请谨防假冒</div>
    </div>
    <br/>
    <br/>
    <div class="features-grids text-center">
      <div class="col-md-3 features-grid">
        <img src="<%= asset_path 'logo_m.png' %>" width="180px" height="61px" />
      </div>
    </div>
    <br/>
    <br/>
  </div>
  <div style="padding:10px 20px 10px; text-align:center; background:#444447; color:#ffffff; text-shadow:none;">
    <p id="contact_us">
      <img align="absmiddle" src="<%= asset_path 'phone-1.png' %>" style="vertical-align:middle;padding-right:10px;" width="19px" height="19px" />
        联系我们</p>
  </div>
</div>

<script>
  $(function () {
    $('#contact_us').click(function () {
      $(location).attr('href', "<%= url_for :controller => 'mobile', :action => 'contact_us_m' %>");
    });
  });
</script>
